@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200&display=swap');

.container-cart{
    background-color: #dbe2e8;
    margin-top: 130px;
    margin-left: 400px;
    margin-bottom: 200px;
    margin-right: 400px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Georama', sans-serif;
    font-weight: bold;
 
    
}






.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td
 {
    vertical-align: middle !important;
    
}




.shopping-cart .product-item
 {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 20px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info
 {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb
{
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img
 {
    display: block;
    width: 80%
}


.shopping-cart .product-item .product-info span
 {
    display: block;
    font-size: 13px;
}

.shopping-cart .product-item .product-info span>em
 {
    font-weight: lighter;
    font-style: normal;
    color: red;
}

.shopping-cart .product-item .product-title
 {
    margin-bottom: 6px;
    padding-top: 50px;
    font-size: 14px;
    font-weight: bold;
    text-align:justify;
}

.shopping-cart .product-item .product-title>a
 {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}



.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #374250;
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

.purchase-date {
    font-weight: 400;
    font-size: 15px;
}

